body {
  font-family: arial;
  background: #f8f9fb; }

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0; }

fieldset, img {
  border: 0; }

li {
  list-style: none; }

/*.container{
	height:100vh;
	background-color:purple;
}*/
nav {
  width: 87.6%;
  margin: 0 auto; }

nav button {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 1rem; }

ul li a {
  color: #fff !important;
  font-size: 1rem;
  padding: 2rem; }

ul li a:hover {
  color: lightblue !important;
  text-decoration: none; }

#nghd {
  position: relative;
  top: -50%;
  left: 50%;
  font-size: 3em; }

#top-photo {
  position: relative;
  top: 10rem; }
  #top-photo img {
    float: left;
    -webkit-shape-outside: ellipse(50% 50%);
    shape-outside: ellipse(50% 50%);
    width: 25%;
    height: 65%;
    border-radius: 100%;
    margin-right: 2rem;
    margin-left: 2rem; }
  #top-photo p {
    width: 23rem;
    color: #fff; }

footer {
  position: relative;
  text-align: center;
  background-color: purple; }
